rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow reading questions and user profiles by anyone
    match /questions/{questionId} {
      allow read;
      allow create: if request.auth != null;
      // Allow authenticated users to upvote questions or increment answer count
      allow update: if request.auth != null && 
        (request.resource.data.upvotes == resource.data.upvotes + 1 ||
         request.resource.data.answerCount == resource.data.answerCount + 1);
    }
    
    match /users/{userId} {
      allow read;
      allow create, update: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow authenticated users to create answers
    // Allow anyone to read answers
    match /answers/{answerId} {
      allow read, list;
      allow create: if request.auth != null;
      // Allow authenticated users to upvote answers
      allow update: if request.auth != null && request.resource.data.upvotes == resource.data.upvotes + 1;
    }
  }
}
